@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:ital,wght@0,100;1,100&family=Raleway:wght@200&family=Roboto:wght@300&display=swap');
html body {
    font-family: 'Roboto', sans-serif;
}    
.navbar{
    color: #03045E;
    width: 100%;
    height: 80px;
    list-style: none;
}
.nav-link{
    margin-left: 30px;
    
}
#navbarSupportedContent>ul>li:hover>a{
    border-bottom: 1px solid #B68C70;
    
}
.featured-image{
    height: auto;
    max-width: 80%;
    vertical-align: middle;
}
.entry-title{
    font-size: 80px;
    line-height: 1.1;
    max-width: 345px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.entry-header{
    padding-top: 150px;
    padding-bottom:20px;
}
a{
    text-decoration: none;
}
.entry-content{
    color: #152944;
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
}

.separator {
    background-color: #90E0EF;
    width: 40px;
    height: 6px;
}
.btn{
    margin-top: 30px;
    border-radius: 25px;
}
.relative {
    display: block;
    position: relative;
}
.page-section {
    padding: 60px 0;
}
.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section-header {
    max-width: 500px;
    margin-bottom: 35px;        
}
#footer-color{
    /* background-color: #90E0EF; */
    background: linear-gradient(to right, #90E0EF 0%,#03045E 100%,#00B4D8 100%);
}
.section-title {
    position: relative;
    padding-bottom: 36px;
}

/*----  CARD Style  ----*/
#cards_landscape_wrap-2{
    text-align: center;
    
  }
  #cards_landscape_wrap-2 .container{
    padding-top: 80px; 
    padding-bottom: 100px;
  }
  #cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
  }
  #cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    padding: 30px 18px;
  }
  #cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
  }

  /* blog slider */
  